@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* --primary-color: #4daf98; */
  --primary-color: #5656be;
  --secondary-color: #f53d69;
  --tertiary-color: #fbcf78;
  --green-color: #3dc74b;
  --base-color: #f8c1ce;
  --text-color: #696984;
  --border-base-color: #9cd8ca;
}

body {
  font-family: "Poppins", sans-serif !important;
}
.main {
  background-image: url("sprinkles-off-white-wallpaper-removebg-preview.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  /* background-size: cover; */
}

@media (min-width: 992px) {
  .mt-lg-n24 {
    margin-top: -9rem !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .right-lg-n12 {
    right: -48px !important;
  }
  .right-lg-n2 {
    right: -8px !important;
  }

  .modal-s-lg {
    width: 800px !important;
  }
}

@media (min-width: 768px) {
  .vh-md-100 {
    height: 100vh !important;
  }
  .mt-md-n12 {
    margin-top: -48px !important;
  }
  .mt-md-n13 {
    margin-top: -52px !important;
  }
  .mt-md-n14 {
    margin-top: -56px !important;
  }
  .mt-md-n15 {
    margin-top: -60px !important;
  }
  .mt-md-n16 {
    margin-top: -64px !important;
  }
  .mt-md-n17 {
    margin-top: -68px !important;
  }
  .mt-md-n18 {
    margin-top: -72px !important;
  }
  .left-md-n4 {
    left: -16px !important;
  }
  .left-md-n8 {
    left: -32px !important;
  }
  .right-md-n4 {
    right: -16px !important;
  }
  .right-md-n8 {
    right: -32px !important;
  }
  .px-md-2-5 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
  .modal-s-md {
    width: 600px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 468px) {
  .d-xs-block {
    display: block !important;
  }
}

.card-wrap {
  /* width: 260px; */
  margin-top: 20px;
}

.navbar-wrapper {
  height: 72px;
}

.bg-hero {
  background-image: linear-gradient(
    237deg,
    #fb7897 31.48%,
    #feacc0 94.04%,
    #f8e8e8 107%
  );
  /* background-size: ; */
  background-repeat: no-repeat;
}

.avatar-user {
  width: 40px;
  height: auto;
  padding: 2px;
  border-radius: 50%;
}

.justify-items-center {
  justify-items: center;
}
.bg-footer {
  background: #4daf98;
}
.bg-primary {
  background: var(--primary-color) !important;
}
.bg-secondary {
  background: var(--secondary-color) !important;
}
.bg-tertiary {
  background: var(--tertiary-color) !important;
}
/* .inactive-product-switch{

} */
.bg-green {
  background: var(--green-color) !important;
}
.text-base {
  color: #696984 !important;
}
.text-price {
  color: #4b4b5e !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-tertiary {
  color: var(--tertiary-color) !important;
}

.footer-logo {
  display: flex;
  justify-content: center;
}
.border-base {
  border-color: var(--border-base-color) !important;
}

.product-desc-modal {
  width: 240px;
}

.inactive-product-switch {
  border: 3px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  background-color: white;
}
.active-product-switch {
  border: 3px solid var(--primary-color) !important;
  color: white !important;
  background: var(--primary-color) !important;
}
.text-title-card {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navigation a {
  text-decoration: none;
  cursor: pointer;
}

.w-xl-400 {
  width: 400px;
}
.h-0 {
  height: 0px !important;
}

.category-product {
  /* width: 20px;
  height: 20px; */
  display: inline-block;
  padding: 2px 8px;
  border-radius: 8px;
  border: 1px solid #696984;
}

.text-body-card {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* display: none; */
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.border-radius16 {
  border-radius: 16px;
}

.card-why-content {
  height: 200px;
  /* Recommend */
  /* transform: translateY(-30%); */
}
.more {
  background: none;
  border: none;
}

.card-why-body:hover .card-why-content {
  transition: all 0.5s ease-in-out;
  transform: translateY(-30%);
}
.card-why-body:hover .text-body-card {
  /* display: block; */
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.card-why-content {
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.swiper-slide {
  display: flex !important;
}
.card-why-body {
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 15px 30px 0.5px rgba(0, 0, 0, 0.25);
  /* margin: 20px; */

  /* width: 240px; */
  /* height: 250px; */
}

.hero {
  overflow: initial;
}

.card-feedback {
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 15px 30px 0.5px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  max-height: 400px;
  display: inline-block;
}

.shadow-base {
  box-shadow: 2px 15px 30px 0.5px rgba(0, 0, 0, 0.25);
}

.btn-cust-primary {
  border-radius: 90px;
  border: 3px solid var(--text-color);
  background: none;
  display: inline-block;
  width: auto;
  color: var(--text-color);
}
.btn-cust-secondary {
  border-radius: 90px;
  border: 5px solid #bfbfee;
  background: var(--primary-color);
  display: inline-block;
  width: auto;
}

.hero-img-wrap {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  height: auto;
  /* background-color: rgb(255 255 255 / 0.3); */
}

.hero-img-wrap img {
  background-size: cover;
}

.circle-blur1 {
  max-width: 900px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-height: 900px;
  position: absolute;
  top: -120px;
  left: -260px;
  filter: blur(160px);
  /* background: #95e2d0; */
  z-index: -2;
}
.circle-blur2 {
  width: 200px;
  border-radius: 967px;
  height: 98%;
  right: 1px;
  position: absolute;
  z-index: -2;
  /* background: #eea6b7; */
  filter: blur(160px);
}
/* .slider-container .off {
  opacity: 0.5;
}
.slider-wrapper {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .card-product {
  scroll-snap-align: start;
}

.slider-wrapper.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.slider-wrapper.dragging .card-product {
  user-select: none;
  cursor: grab;
} */

.ms-n2 {
  margin-left: -0.5rem !important;
}

/* .nav-slide {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--primary-color);
} */

/* .slider-container #prev-btn {
  top: 50%;
  transform: translateY(-50%);
}
.slider-container #next-btn {
  top: 50%;
  transform: translateY(-50%);
} */
.card-product {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 240px;
  max-width: 240px;
  min-height: 350px;
  border-radius: 15px;
  background-color: white;
}

.message-chatbox {
  height: 240px;
}

.hero-img-size {
  width: 450px;
  height: 600px;
}
.icon-size {
  width: 24px;
  height: 24px;
}
.left-0 {
  left: 0px !important;
}
.left-n4 {
  left: -16px !important;
}
.right-0 {
  right: 0px;
}
.right-n4 {
  right: -16px !important;
}

.mt-n1 {
  margin-top: -4px !important;
}
.mt-n2 {
  margin-top: -8px !important;
}
.mt-n3 {
  margin-top: -12px !important;
}
.mt-n4 {
  margin-top: -16px !important;
}
.mt-n12 {
  margin-top: -48px !important;
}

/* class fs-4 to 12 step 1 */
.fs-4 {
  font-size: 4px !important;
}
.fs-5 {
  font-size: 5px !important;
}
.fs-6 {
  font-size: 6px !important;
}
.fs-7 {
  font-size: 7px !important;
}
.fs-8 {
  font-size: 8px !important;
}
.fs-9 {
  font-size: 9px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
/* class fs-sm 12-32 */
.fs-sm12 {
  font-size: 12px !important;
}
.fs-sm16 {
  font-size: 16px !important;
}
.fs-sm20 {
  font-size: 20px !important;
}
.fs-sm22 {
  font-size: 22px !important;
}
.fs-sm24 {
  font-size: 24px !important;
}
.fs-sm28 {
  font-size: 28px !important;
}
.fs-sm32 {
  font-size: 32px !important;
}

/* class fs-md 36-48 */
.fs-md36 {
  font-size: 36px !important;
}
.fs-md40 {
  font-size: 40px !important;
}
.fs-md44 {
  font-size: 44px !important;
}
.fs-md48 {
  font-size: 48px !important;
}

/* class fs-lg 52-96 */
.fs-lg52 {
  font-size: 52px !important;
}
.fs-lg56 {
  font-size: 56px !important;
}
.fs-lg60 {
  font-size: 60px !important;
}
.fs-lg64 {
  font-size: 64px !important;
}
.fs-lg68 {
  font-size: 68px !important;
}
.fs-lg72 {
  font-size: 72px !important;
}
.fs-lg76 {
  font-size: 76px !important;
}
.fs-lg80 {
  font-size: 80px !important;
}
.fs-lg84 {
  font-size: 84px !important;
}
.fs-lg88 {
  font-size: 88px !important;
}
.fs-lg92 {
  font-size: 92px !important;
}
.fs-lg96 {
  font-size: 96px !important;
}

/* make class width also like fs */
.w-4 {
  width: 4px !important;
}
.w-5 {
  width: 5px !important;
}
.w-6 {
  width: 6px !important;
}
.w-7 {
  width: 7px !important;
}
.w-8 {
  width: 8px !important;
}
.w-9 {
  width: 9px !important;
}
.w-10 {
  width: 10px !important;
}
.w-11 {
  width: 11px !important;
}
/* class w-sm 12-32 */
.w-sm12 {
  width: 12px !important;
}
.w-sm16 {
  width: 16px !important;
}
.w-sm20 {
  width: 20px !important;
}
.w-sm22 {
  width: 22px !important;
}
.w-sm24 {
  width: 24px !important;
}
.w-sm28 {
  width: 28px !important;
}
.w-sm32 {
  width: 32px !important;
}

/* class w-md 36-48 */
.w-md36 {
  width: 36px !important;
}
.w-md40 {
  width: 40px !important;
}
.w-md44 {
  width: 44px !important;
}
.w-md48 {
  width: 48px !important;
}

/* class w-lg 52-96 */
.w-lg52 {
  width: 52px !important;
}
.w-lg56 {
  width: 56px !important;
}
.w-lg60 {
  width: 60px !important;
}
.w-lg64 {
  width: 64px !important;
}
.w-lg68 {
  width: 68px !important;
}
.w-lg72 {
  width: 72px !important;
}
.w-lg76 {
  width: 76px !important;
}
.w-lg80 {
  width: 80px !important;
}
.w-lg84 {
  width: 84px !important;
}
.w-lg88 {
  width: 88px !important;
}
.w-lg92 {
  width: 92px !important;
}
.w-lg96 {
  width: 96px !important;
}

/* class height also like fs */
.close-faq {
  height: 0 !important;
  transition: all 0.5s ease-in-out;
}
.faq-answer {
  height: 100%;
  transition: all 0.5s ease-in-out;
  overflow-y: hidden !important;
}
.faq-row {
  transition: height 0.5s ease-in-out;
  max-width: 700px;
  border-radius: 12px;
  background-color: white;
}
.h-4 {
  width: 4px !important;
}
.h-5 {
  width: 5px !important;
}
.h-6 {
  width: 6px !important;
}
.h-7 {
  width: 7px !important;
}
.h-8 {
  width: 8px !important;
}
.h-9 {
  width: 9px !important;
}
.h-10 {
  width: 10px !important;
}
.h-11 {
  width: 11px !important;
}
/* class h-sm 12-32 */
.h-sm12 {
  width: 12px !important;
}
.h-sm16 {
  width: 16px !important;
}
.h-sm20 {
  width: 20px !important;
}
.h-sm22 {
  width: 22px !important;
}
.h-sm24 {
  width: 24px !important;
}
.h-sm28 {
  width: 28px !important;
}
.h-sm32 {
  width: 32px !important;
}

/* class h-md 36-48 */
.h-md36 {
  width: 36px !important;
}
.h-md40 {
  width: 40px !important;
}
.h-md44 {
  width: 44px !important;
}
.h-md48 {
  width: 48px !important;
}

/* class h-lg 52-96 */
.h-lg52 {
  width: 52px !important;
}
.h-lg56 {
  width: 56px !important;
}
.h-lg60 {
  width: 60px !important;
}
.h-lg64 {
  width: 64px !important;
}
.h-lg68 {
  width: 68px !important;
}
.h-lg72 {
  width: 72px !important;
}
.h-lg76 {
  width: 76px !important;
}
.h-lg80 {
  width: 80px !important;
}
.h-lg84 {
  width: 84px !important;
}
.h-lg88 {
  width: 88px !important;
}
.h-lg92 {
  width: 92px !important;
}
.h-lg96 {
  width: 96px !important;
}
